body {
  background-color: #121212;
}
#playButton {
  background-color: #1cbb52;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
}

#playIcon {
  width: 30px;
  height: 30px;
}

#playButton:hover {
  background-color: green;
}

#heartIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 20px 0 0 40px;
  fill: #bab7be;
}

#heartIcon:hover {
  cursor: pointer;
  fill: white;
}

#ellipsisIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 20px 0 0 40px;
  fill: #bab7be;
}

#ellipsisIcon:hover {
  cursor: pointer;
  fill: white;
}

.table {
  color: #bab7be;
  margin: 20px 40px 0 20px;
}

.borderless td,
.borderless th {
  border: none;
}

td p {
  font-size: 13px;
  margin: 0;
  color: #969696;
}

td h6 {
  color: #f4f4f4;
  margin: 0;
}
