.jumbotron {
  background-image: url("https://i.ytimg.com/vi/x3aMO8wLNyc/mqdefault.jpg");
  background-size: cover;
  height: 100%;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  font-size: 75px;
  position: relative;
  top: 90px;
}

.jumbotron .lead {
  color: white;
  position: relative;
  top: 85px;
  font-size: 15px;
}

.jumbotron svg {
  position: relative;
  top: 105px;
}

.jumbotron .verify {
  color: white;
  display: inline-block;
  position: relative;
  top: 105px;
}

#leftIcon {
  width: 15px;
  color: white;
  position: absolute;
  top: 20px;
  left: 400px;
}

#rightIcon {
  width: 15px;
  color: white;
  position: absolute;
  top: 20px;
  left: 430px;
}

.jumbotron .btn {
  background-color: black;
  border: none;
  border-radius: 20px;
  position: absolute;
  bottom: 25px;
  right: 0;
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.underJumbotron {
    background-color: #444444;
    margin: 0;
    padding: 5px;
}

.pauseButton {
    background-color: #1CBB52;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

.pauseButton:hover {
    cursor: pointer;
    background-color: green;
}

.btn-secondary {
    background-color: #494949;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px;
    border: none;
}

.btn-secondary:hover {
    cursor: pointer;
    background-color: darkslategray;
}

.ellipsisIcon2 {
    width: 25px;
    fill: #BAB7BE;
    margin: 10px;
}

.ellipsisIcon2:hover {
    cursor: pointer;
    fill: white;
}
tr, tr h6{
    font-size: 20px !important;
}
tr:hover{
    cursor: pointer;
    background-color: rgba(66, 66, 66, 0.2);
    

}
