:root{
    --green:#1DB954; 
    --black:#191414;
    --font: sans-serif !important;
}
.body{
    font-family: var(--font);
    color: white;
}
.sidebar{
    position: fixed ;
    left: 0;
    top: 0;
    width: 365px;
    background-color: black;
    height: 100%;
    overflow-x: hidden;
    


}

.main-menu ul li a{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    
}

.main-menu ul li a i{
    margin-right: 1rem;
}

.playlist-menu{
        width: 300px;
        height: 50%;
        font-family: var(--font);
        font-weight: 600;
        font-size: 20px;
        overflow-y: scroll;
      

}
.main{
    margin-left: 365px;
}

.logo{
    width: 240px;
}